@value mediaLarge, fontMedium, small, regular, medium, large from "../../common/size.css";
@value makerShadow from "../../common/colors.css";

.content {
  margin-right: large;
  margin-top: large;
  padding: medium;
  border-radius: calc(small/2);
  box-shadow: small small regular makerShadow;
}

.image {
  width: 90%;
}

.title {
  margin: regular 0;
  font-size: fontMedium;
  font-weight: 400;
}

.description {
  overflow: wrap;
}
