@value mediaSmall, mediaLarge, fontSmall, fontRegular, fontMedium, fontLarge, fontBig, small, regular, medium, large, cardHeight from "../../common/size.css";
@value makerWhite, makerGray, makerRed, makerWheat, makerDark, makerYellow, makerShadow, makerBack from "../../common/colors.css";

.content {
  flex-basis: 33.3%;
  margin-right: large;
  margin-top: large;
}

.image {
  width: 20rem;
}
