@value mediaSmall, mediaLarge, fontSmall, fontRegular, fontMedium, fontLarge, fontBig, small, regular, medium, large, cardHeight from "../../common/size.css";
@value makerWhite, makerGray, makerRed, makerWheat, makerDark, makerYellow, makerShadow, makerBack from "../../common/colors.css";

.contents {
  margin-top: 5rem;
  display: flex;
}

@media screen and (max-width: mediaLage) {
  .contents {
    flex-basis: column;
  }
}
