@value mediaLarge, fontMedium, medium, cardWidth from "../../common/size.css";

.description {
  font-size: fontMedium;
}

.contents {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, 24rem);
  grid-gap: medium;
}

@media screen and (max-width: mediaLarge) {
  .contents {
    grid-template-columns: minmax(cardWidth, 560px);
  }
}
