@value mediaSmall, mediaMedium, mediaLarge, fontSmall, fontRegular, fontMedium, fontLarge, fontBig, small, regular, medium, large from "../../common/size.css";
@value makerBlack, makerWhite, makerGray, makerDark, makerYellow, makerShadow from "../../common/colors.css";

p {
  font-weight: 300;
}

.item {
  flex-basis: 85%;
}

.main {
  display: flex;
  align-items: center;
  margin-bottom: regular;
}

.img {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: calc(small/2);
  object-fit: cover;
  margin-right: medium;
}

.text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.name,
.company {
  font-size: fontMedium;
  font-weight: 500;
}

.contact {
  margin: regular 0;
}

.remark {
  width: 97.5%;
  font-style: italic;
  word-wrap: break-word;
}

/* color theme */
.light p,
.light h3,
.light h4 {
  color: makerDark;
}

.dark p,
.dark h3,
.dark h4 {
  color: makerGray;
}
