@value mediaLarge, fontMedium, small, regular, medium, large from "../../common/size.css";
@value makerWhite, makerGray, makerRed, makerBack, makerYellow, makerShadow from "../../common/colors.css";

.logout {
  text-align: left;
  cursor: pointer;
}

.logout:hover {
  color: makerRed;
}

.hidden {
  display: none;
}

.popupWindow {
  padding: small;
  margin-top: medium;
  background-color: makerBack;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
