@value mediaSmall, mediaLarge, fontSmall, fontRegular, fontMedium, fontLarge, fontBig, small, regular, medium, large from "../../../common/size.css";
@value makerBlack, makerWhite, makerGray, makerBack, makerDark, makerRed, makerGreen, makerYellow, makerShadow from "../../../common/colors.css";

.items {
  margin-bottom: large;
}

.item {
  margin: medium 0;
}

.button {
  border-radius: small;
  padding: regular;
  background-color: makerBack;
}

.button:hover {
  cursor: pointer;
  background-color: makerRed;
  color: makerWhite;
}
