@value mediaSmall, mediaMedium, mediaLarge, fontSmall, fontRegular, fontMedium, fontLarge, fontBig, small, regular, medium, large from "../../../common/size.css";
@value makerBlack, makerWhite, makerGray, makerWheat, makerPurple, makerPink, makerGreen, makerYellow, makerShadow from "../../../common/colors.css";

.items {
  margin-bottom: large;
}

.item {
  margin: medium 0;
}

.button {
  border-radius: small;
  padding: regular;
  background-color: makerShadow;
}

.button:hover {
  cursor: pointer;
  background-color: makerYellow;
}
