@value mediaSmall, mediaMedium, mediaLarge, fontSmall, fontRegular, fontMedium, fontLarge, fontBig, small, regular, medium, large from "../../common/size.css";
@value makerBlack, makerWhite, makerGray, makerWheat, makerPurple, makerPink, makerGreen, makerYellow, makerShadow from "../../common/colors.css";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20vh;
}

.title {
  flex: 5;
  font-size: fontLarge;
  font-weight: 700;
}
