@value mediaSmall, mediaLarge, fontSmall, fontRegular, fontMedium, fontLarge, fontBig, small, regular, medium, large from "../../common/size.css";
@value makerBlack, makerWhite, makerGray, makerWheat, makerPurple, makerPink, makerGreen, makerYellow, makerShadow from "../../common/colors.css";

.header {
  margin-bottom: 12.5rem;
  padding: medium 0;
  position: sticky;
  top: -1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  transform: scale(1.02);
}

.title {
  flex: 5;
  font-size: fontLarge;
  font-weight: 700;
}
