@value mediaSmall, mediaMedium, mediaLarge, fontSmall, fontRegular, fontMedium, fontLarge, fontBig, small, regular, medium, large from "../../common/size.css";
@value makerBlack, makerWhite, makerGray, makerWheat, makerPurple, makerPink, makerGreen, makerYellow, makerShadow from "../../common/colors.css";

.item {
  text-align: center;
  margin: regular auto;
  padding: regular;
  background-color: makerShadow;
  border-radius: small;
}

.item:hover {
  cursor: pointer;
  background-color: makerYellow;
}

.sign_up {
  background-color: makerGray;
}

.sign_up:hover .button {
  color: makerBlack;
}

.sign_up .button {
  color: makerWhite;
}
