@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@value mediaSmall, mediaMedium, mediaLarge, fontSmall, fontRegular, fontMedium, fontLarge, fontBig, small, regular, medium, large from "./common/size.css";
@value makerBlack, makerWhite, makerGray, makerWheat, makerPurple, makerPink, makerGreen, makerYellow, makerShadow from "./common/colors.css";

/* universal tag */

body {
  max-width: 960px;
  padding: large;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  color: makerBlack;
}

/* text */
h1 {
  font-size: fontBig;
  margin: large 0;
}

a {
  text-decoration: none;
  font-size: inherit;
  color: makerBlack;
}

li {
  list-style: none;
}

button,
input {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: fontRegular;
  width: 100%;
}

input {
  padding: regular 0;
  border-bottom: 1px solid makerGray;
}

label {
  font-size: fontSmall;
}
