@value makerBlack: #27272a;
@value makerGray: #bfb6b1;
@value makerWhite: #fcfcfc;
@value makerRed: #b44a56;
@value makerPurple: #c8c4dc;
@value makerPink: #fb8187;
@value makerDark: #555a60;
@value makerGreen: #d6d9ae;
@value makerYellow: #f2e299;
@value makerShadow: rgba(120, 120, 120, 0.75);
@value makerBack: rgba(243, 243, 243, 0.925);

/* 
red: #b97177 
black: #555a60
orange: #f2c080
*/
