@value makerBlack: #27272a;
@value makerWhite: #f9faf9;
@value makerGray: #939597;
@value makerWheat: #f4eee8;
@value makerPurple: #919bc9;
@value makerPink: #ff1e79;
@value makerGreen: #c3d363;
@value makerYellow: #F5DF4D;
@value makerShadow: rgba(217, 217, 217, 1);
