/* Media Query */
@value mediaSmall: (max-width: 414px);
@value mediaMedium: (min-width: 414px) and (max-width: 768px);
@value mediaLarge: (min-width: 768px);

/* Font Size */
@value fontSmall: 0.75rem;
@value fontRegular: 1rem;
@value fontMedium: 1.25rem;
@value fontLarge: 1.5rem;
@value fontBig: 2rem;

/* Size */
@value small: 0.25rem;
@value regular: 0.5rem;
@value medium: 0.75rem;
@value large: 1.25rem;
