/* Media Query */
@value mediaSmall: 414px;
@value mediaLarge: 768px;

/* Font Size */
@value fontSmall: 0.875rem;
@value fontRegular: 1rem;
@value fontMedium: 1.25rem;
@value fontLarge: 1.5rem;
@value fontBig: 2.5rem;

/* Size */
@value small: 0.25rem;
@value regular: 0.5rem;
@value medium: 1rem;
@value large: 1.75rem;

/* Card Size */
@value cardWidth: 22.5rem;
@value cardHeight: 12.5rem;
